<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.search"
    >

    <uses-permission android:name="android.permission.INTERNET"
        />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"
        />

    <application
        android:label="Search SDK sample test"
        android:usesCleartextTraffic="true"
        />
</manifest>
